*.o
*.so
*.a
*.iml
.idea/
*.ipr
*.iws
.idea_modules/
__pycache__/
*.py[cod]
*$py.class
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.deb
*.dsc
*.build
*.changes
*.orig.*
packaging/*tar.xz
library/debian/
library/blinkt
pip-log.txt
pip-delete-this-directory.txt
.cache
*.log
.DS_Store
